@charset "utf-8";

@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-Light.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-LightItalic.ttf) format(truetype);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Sansation";
    src: url(./Fonts/Sansation/Sansation-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

.grid-container {
    width: 20vw;
    display: grid;
    text-align: center;
    padding: 2px;
    color: aqua;
    background-color: aliceblue;
}
.grid-header {
    padding: 10px;
    border: 1px solid black;
    background-color: darkcyan;
    font-weight: bold;
}
.grid-item {
    padding: 10px;
    border: 1px solid black;
    background-color: darkslategray;
    cursor: pointer;
    transition-duration: 0.4s;
}
.grid-item:hover {
    background-color: black;
}

.info-table-container {
    width: 64vh;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0.5vh;
    background-color: darkslategrey;
}
.info-table-item {
    padding: 1vh;
    color: aliceblue;
    border: 1px solid black;
}

* {
    min-width: 0;
    margin: 0;
    padding: 0;
    color: hsl(170, 80%, 90%);
    font-family: "Sansation";
    font-size: 2vh;
    transition-duration: 0.4s;
}

:root {
    padding-left:  10vw;
    padding-right: 10vw;
    background-image: linear-gradient(
        hsl(150, 50%, 5%),
        hsl(150, 45%, 8%),
        hsl(150, 50%, 5%)
    );
    height: 50vh;
}

a {
    font-size: inherit;
    text-decoration: inherit;
    color:turquoise;
}

header {
    /* min-height: 64px; */
    color: aliceblue;
    background-color: hsl(170, 30%, 30%);
    font-size: 4vh;
    padding: 2vh;
}
footer {
    min-height: 2vw;
    color: aliceblue;
    padding: 2vh;
    margin-top: 8vh;
    margin-bottom: 1vh;
    background-color: hsl(170, 30%, 5%);
}

h1 {
    margin-top: 5vh;
    margin-bottom: 1vh;
    color: aliceblue;
    font-size: 4vh;
}
h2 {
    margin-top: 5vh;
    margin-bottom: 1vh;
    color: aliceblue;
    font-size: 3.5vh;
}
p {
    margin-bottom: 3vh;
    line-height: 3vh;
}
sup {
    font-size: 1.5vh;
    color: aliceblue;
}
small {
    font-size: 1.5vh;
}

@media (orientation: portrait) {
    * {
        font-size: 3vw;
    }
    .grid-container {
        width: 100%;
    }
    .info-table-container {
        width: 100%;
    }
    sup {
        font-size: 2.25vw;
        color: aliceblue;
    }
    small {
        font-size: 2.25vw;
    }
}
